@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap");

/* ########### _______ Project variables */

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-base: 1rem;
  --font-size-title: 4.5rem;
  --font-size-titleSmall: 3.5rem;
  --font-size-subTitle: 2.5rem;
  --font-size-para: 1.25rem;

  /* Colors Primary*/
  --color-p--50: #ecfeff;
  --color-p--100: #cffafe;
  --color-p--200: #a5f3fc;
  --color-p--300: #67e8f9;
  --color-p--400: #22d3ee;
  --color-p--500: #06b6d4;
  --color-p--600: #0891b2;
  --color-p--700: #0e7490;
  --color-p--800: #155e75;
  --color-p--900: #164e63;
  --color-p--950: #083344;
  /* Colors Secondary*/

  /* Colors Background*/

  --color-bg-inv: #18181b;
  --color-bg-std: #ecfeff;

  /* Text Std Color */
  --color-text-std: #27272b;
  --color-text-inv: #f4f4f5;

  /* Spacing */
  --space-25: 0.25rem;
  --space-50: 0.5rem;
  --space-75: 0.75rem;
  --space-100: 1rem;

  /* Gaps */
  --gap-std: 1rem;
  --gap-2x: 2rem;

  /* Paddings */
  --padding-small: 0.5rem;
  --padding-std: 1rem;
  --padding-2x: 2rem;

  /* Border radiuses */
  --br-double: 2rem;
  --br-std: 1rem;
  --br-half: 0.5rem;

  /* Effects : Shadow, etc ...*/
}

#app {
  position: relative;
}

.dark {
  /* Colors Background*/

  --color-bg-std: #18181b;
  --color-bg-inv: #ecfeff;

  /* Text Std Color */
  --color-text-inv: #27272b;
  --color-text-std: #f4f4f5;

  /* Colors Primary*/
  --color-p--950: #ecfeff;
  --color-p--900: #cffafe;
  --color-p--800: #a5f3fc;
  --color-p--700: #67e8f9;
  --color-p--600: #22d3ee;
  --color-p--500: #06b6d4;
  --color-p--400: #0891b2;
  --color-p--300: #0e7490;
  --color-p--200: #155e75;
  --color-p--100: #164e63;
  --color-p--50: #083344;
}

/* Main container For AllPages */

.container {
  width: 100%;
  height: 100%;
  max-width: 1380px;
  min-height: 75vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 60px;
  padding-top: 15vh;
  padding-bottom: 10vh;

  color: var(--color-text-std);
}

.container--todo {
  align-items: flex-start;
}

@media only screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    gap: 4rem;
  }
  .container--todo {
    align-items: "center";
  }
}
